{% extends "base.html" %}
{% block content %}
<div class="mt-[25vh] max-w-md mx-auto bg-white rounded-lg shadow-md p-6">
    <h2 class="text-2xl font-bold mb-4">{{ get_message('change_password') }}</h2>
    <form method="POST">
        <div class="mb-4">
            <label class="block text-gray-700 mb-2">{{ get_message('newpassword') }}</label>
            <input type="password" name="new_password" class="focus-visible:outline focus-visible:outline-gray-100 w-full px-3 py-2 border rounded-lg" required>
        </div>
        <button type="submit" class="focus-visible:outline focus-visible:outline-gray-100 w-full bg-primary text-white py-2 rounded-lg hover:bg-primary">{{ get_message('updatepassword') }}</button>
    </form>
</div>
{% endblock %}
